image:
  repository: bitnamilegacy/kafka
  tag: "3.3.2-debian-11-r11"
  pullPolicy: IfNotPresent

service:
  port: 9092
  controllerPort: 9093

kafka:
  clusterId: MkU3OEVBNTcwNTJENDM2Qk
  autoCreateTopicsEnable: true
  numPartitions: 3
  logRetentionHours: 24

persistence:
  enabled: true
  size: 8Gi
  storageClassName: ""

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1536Mi

probes:
  startup:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 30
  liveness:
    initialDelaySeconds: 30
    periodSeconds: 20
    timeoutSeconds: 1
    failureThreshold: 6
  readiness:
    initialDelaySeconds: 20
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 12
