{{- if .Values.persistence.enabled }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "streaming-minio.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "streaming-minio.labels" . | indent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
{{- with .Values.persistence.storageClassName }}
  storageClassName: {{ . | quote }}
{{- end }}
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
{{- end }}
