project_id = "data-platform-prod-491113"
region     = "europe-central2"

network_name      = "data-platform-prod-vpc"
lake_bucket_name  = "data-platform-prod-lake"
lake_bucket_location = "EUROPE-CENTRAL2"

cloud_sql_instance_name = "data-platform-prod-nessie"
cloud_sql_edition       = "ENTERPRISE"
cloud_sql_tier          = "db-custom-1-3840"
cloud_sql_availability_type = "ZONAL"
cloud_sql_disk_size_gb  = 20

spark_service_account_name = "spark-operator-spark"
trino_service_account_name = "bi-trino"
nessie_service_account_name = "storage-nessie"
