project_id = "data-platform-prod-491113"
region     = "europe-central2"
zones = [
  "europe-central2-a",
  "europe-central2-b",
  "europe-central2-c",
]

cluster_name    = "data-platform-prod"
argocd_hostname = "argocd.prod.example.com"

master_authorized_networks = [
  {
    cidr_block   = "203.0.113.10/32"
    display_name = "replace-with-admin-egress"
  },
]

platform_machine_type    = "e2-standard-2"
platform_disk_size_gb    = 50
platform_disk_type       = "pd-standard"
platform_total_min_nodes = 3
platform_total_max_nodes = 6
