{{- if .Values.sparkApplication.enabled }}
apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: {{ include "demo-app.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "demo-app.labels" . | indent 4 }}
spec:
{{ include "demo-app.sparkTemplateSpec" (dict "spark" .Values.spark "image" .Values.image) | indent 2 }}
{{- end }}
